@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-green-650: 18 247 196 0.0392;
    --bg-green-850: 0 187 17;

    --bg-gray-850: rgb(17, 17, 187, 0.0118);
    --bg-gray-750: rgb(203, 203, 249, 0.0431);
  }
}
