@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --bg-green-650: rgba(18, 247, 196, 0.0392);
    --bg-green-850: rgba(0, 187, 17, 0.0118);

    --bg-gray-850:rgba(17, 17, 187, 0.0118);
    --bg-gray-750: rgba(203, 203, 249, 0.0431);
  }
}